<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container_login">
        <form action="/login" method="post">
            <h1>Login</h1>
            <input type="text" placeholder="E-mail" id="emailLogin" name="emailLogin" required>
            <br><br>
            <input type="password" placeholder="Senha" id="senhaLogin" name="senhaLogin" required>
            <br><br>
            <button type="submit">Login</button>
            <br><br>

        </form>
        <a href="/ficha"><button class="botões_geral">Registrar</button></a>
    </div>
    <footer>
    </footer>
</body>
</html>

